@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #181818;
}

.sec-0 .header__menu {
  text-align: center;
  margin-top: 1%;
}

.sec-0 .header__menu li {
  font-family: Lato;
  display: inline;
  margin-right: 5%;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.sec-0 .header__menu li a {
  position: relative;
  z-index: 1;
  color: #DFDFDF;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.sec-0 .header__menu li a:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-top: 4px solid #B131FF;
  border-bottom: 4px solid #B131FF;
  padding: 6px 0;
}

.sec-0 .header__menu li:last-child {
  margin-right: 0;
}

.sec-0 .sec-0__content .logo-svg {
  position: relative;
  z-index: -1;
  display: block;
  margin: 10% auto 0 auto;
}

.sec-0 .sec-0__content .quote-div {
  margin-top: -170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  color: #ffffff;
}

.sec-0 .sec-0__content .quote {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 10px;
}

.sec-0 .sec-0__content #typed {
  font-weight: bolder;
  background: linear-gradient(45deg, #B131FF 33%, #f7da1f 66%, #B131FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #B131FF;
}

.sec-0 .sec-0__content .typed-cursor {
  font-size: 75px;
  font-weight: bolder;
}

.sec-0 .sec-0__content .quote-h2 {
  padding-top: 5%;
  margin-top: 10px;
  text-align: center;
  color: #B131FF;
  font-family: Inconsolata;
  font-weight: 400;
}

.sec-0 .mouse-down {
  position: relative;
  z-index: 1;
  display: block;
  margin: 5% auto 0 auto;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

.sec-1 {
  font-family: Inconsolata;
}

.sec-1 .about-me-open-mark {
  color: #B131FF;
  font-size: 30px;
  margin: 3% 0 15% 30px;
}

.sec-1 .about-me-close-mark {
  color: #B131FF;
  font-size: 30px;
  margin: 16% 0 0 30px;
}

.sec-1 .sec-1__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sec-1 .sec-1__content h3 {
  font-size: 40px;
  color: #B131FF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sec-1 .sec-1__content p {
  margin-top: 25px;
  font-family: Lato;
  font-size: 28px;
  color: #FFFFFF;
}

.sec-2 {
  font-family: Inconsolata;
}

.sec-2 .project-open-mark {
  color: #B131FF;
  font-size: 30px;
  margin: 3% 0 15% 30px;
}

.sec-2 .project-close-mark {
  color: #B131FF;
  font-size: 30px;
  margin: 16% 0 0 30px;
  margin: -10% 0 0 30px;
}

footer {
  font-family: Inconsolata;
  margin: 30px 0 10px 0;
}

footer p {
  color: #d3d3d3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 25px;
  line-height: 37px;
}
/*# sourceMappingURL=style.css.map */