* {
    margin: 0;
    padding: 0;
    background-color: #252525;
}

body {
    background-color: #252525;
    line-height: 1;
}

.message {
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.message h3 {
    color: #0f50a5;
    font-size: 40px;
    margin-top: 5px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #a55135;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.message p {
    color: #d3d3d3;
    font-size: 27px;
    margin-top: 10px;
}

ul {
    margin-top: 10px;
}

li {
    list-style-type: none;
    color: #d3d3d3;
    font-size: 25px;
}

li:not(:last-child) {
    color: #2b6e30;
    text-decoration: line-through;
}

.main {
    display: flex;
    justify-content: center;
    align-items: middle;
}

#clock {
    height: 400px;
}


/* Clock styles */

.circle {
    fill: none;
    stroke: #d3d3d3;
    stroke-width: 9;
}

.mid-circle {
    fill: #d3d3d3;
}

.hour-marks {
    fill: none;
    stroke: #d3d3d3;
    stroke-width: 9;
}

.hour-arm {
    fill: none;
    stroke: #0f50a5;
    stroke-width: 17;
}

.minute-arm {
    fill: none;
    stroke: #6085A6;
    stroke-width: 11;
}

.second-arm {
    fill: none;
    stroke: #a55135;
    stroke-width: 4;
}

.sizing-box {
    fill: none;
}

#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}

@media (min-height: 823px) {
    #clock {
        height: 900px;
    }
    .message {
        margin: 150px 0 30px 0;
    }
    .message h3 {
        font-size: 80px;
    }
    .message p {
        font-size: 50px;
        margin-top: 30px;
    }
    ul {
        margin-top: 20pz;
    }
    li {
        font-size: 40px;
    }
}